<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MilenaCardenasWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- Definir una variable de contexto -->
  <context-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>
  			classpath:configuracion.xml
  		</param-value>
  </context-param>
  <listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
  		<!-- Nombre del servlet -->
  		<servlet-name>Rest</servlet-name>
  		<!-- Cuando no necesita hacer integracion con Spring -->
  		<!--  <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>-->
  		<!-- Para hacer integracion con spring -->
  		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
  		<init-param>
  				<param-name>com.sun.jersey.config.property.packages</param-name>
  				<param-value>co.edu.udea.iw.webservice</param-value>
  		</init-param>
  		<!-- le dice que busque entre el paquete las clases que tienen servicios web -->
  		<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  		<servlet-name>Rest</servlet-name>
  		<!-- Se indica la ruta para ejecutar el servlet -->
  		<!-- Lo que se haga despues de la url de la app -->
  		<url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>